﻿@model Vidley3.Models.Movie

@{
    ViewBag.Title = "Movie Detail";
}

<h2>Movie Detail</h2>
@if (Model == null)
{
    <text>Unknown movie</text>
}
else
{
    <h2>@Model.Name</h2>
    <ul>
        <li>Genre: @Model.Genre.Name</li>
        <li>Release Date: @Model.ReleaseDate.ToShortDateString()</li>
        <li>Date Added: @Model.DateAdded.ToShortDateString()</li>
        <li>Number in Stock: @Model.NumberInStock</li>
    </ul>
}
