﻿@model IEnumerable<Vidley3.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>
@if (Model == null || Model.Count() == 0)
{
    <text>No movies available</text>
}
else
{
    <table class="table table-bordered table-striped table-hover">
        <tr><th>Movie</th></tr>
        <p>
        @Html.ActionLink("New", "New", "Movie", null, new { @class = "btn btn-primary" })
        </p>
        @foreach (Vidley3.Models.Movie d in Model)
        {
            <tr>
                <td>@Html.ActionLink(d.Name, "Edit", "Movie", new { Id = d.Id }, null)</td>
            </tr>
        }
    </table>
}

