﻿@model Vidley3.Models.Customer

@{
    ViewBag.Title = "Customer Detail";
}

<h2>Customer Detail</h2>
@if (Model == null)
{
    <text>No customer specified.</text>
}
else
{
    <h3>@Model.Name</h3>
    <ul>
        <li>Membership Type: @Model.MembershipType.Name</li>
        @if (Model.BirthDate != null)
        {
            <li>Birthdate: @Model.BirthDate</li>
        }
    </ul>
}

