﻿@model IEnumerable<Vidley3.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>
@if (Model == null || Model.Count() == 0)
{
    <text>No customers available</text>
}
else
{
    <p>
        @Html.ActionLink("New", "Edit", "Customer", new { @class = "btn btn-primary" })
    </p>
    <table class="table table-bordered table-striped table-hover">
        <tr><th>Customer</th><th>Membership Type</th></tr>
        @foreach (Vidley3.Models.Customer d in Model)
        {
            <tr>
                <td>@Html.ActionLink(d.Name, "Edit", "Customer", new { id = d.Id }, null)</td>
                <td>@d.MembershipType.Name</td>
            </tr>
        }
    </table>
}

